body {
  padding: 50px;
  background-color: #FFFFCC;
  font-family: sans-serif;
}
.container .header input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #FFF;
}
.container .header button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  background-color: #0066FF;
  color: #FFF;
  border: 2px solid #0066FF;
}
 
.container .header button:hover {
  background-color: #003399;
  border: 2px solid #003399;
  cursor: pointer;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}


th, td {
    padding: 15px;
    text-align: left;
    height: 50%;
}

th {
    background-color: #4CAF50;
    color: white;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 12px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

#getButton {
  float: right;
}

h1 {
  text-align: center;
}